<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GarrysModWorkshopUtil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GarrysModWorkshopUtil.Properties.Settings>
            <setting name="GMAPath" serializeAs="String">
                <value />
            </setting>
            <setting name="JSONPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BinFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IconPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AddonID" serializeAs="String">
                <value />
            </setting>
            <setting name="AddonPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ButtonClicked" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IgnoreNoticeChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRunTaskChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableResizingChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRunTaskTime" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="GMAOutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableAutoDeleteJSONChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableClearingInputChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoDeleteScriptTime" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="EnableCommandPausing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddonJSONName" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableDarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreventMultipleInstances" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreventImageSwitching" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentImageNumber" serializeAs="String">
                <value>0</value>
            </setting>
        </GarrysModWorkshopUtil.Properties.Settings>
    </userSettings>
</configuration>